<div class="col justify-content-center d-flex bg-logo">
	<div class="col" class="logo">
		<div class="col">
			<img class="logo" [src]="logo">
      </div>
     <div class="col pl-5 pr-5  text-center">
      <input class="username text-center" autocomplete="off" placeholder="enter your nickname" (keyup.enter)="submit()" type="text" id="username">
        </div>
       <div class="col text-center pb-5">
      <button class="btn btn-dark mt-4" (click)="submit()">submit</button>
  </div>
  </div>
 </div>